.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 380px;
  height: 100%;
  background: var(--clr-primary);
  padding: 40px 24px;
  z-index: 99;
}

.panel__wrapper {
  width: 284px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin: 0 auto;
}